[submodule "themes/my-doks-site"]
	path = themes/my-doks-site
	url = https://github.com/h-enk/doks-child-theme.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/cupper-hugo-theme"]
	path = themes/cupper-hugo-theme
	url = https://github.com/zwbetz-gh/cupper-hugo-theme.git
[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde
